# Práctica 2 Punto 11

## Enunciado: 

Con la información de los archivos de texto que se encuentran disponibles en el curso:

* nombres_1
* nombres_2

* Indique los nombres que se encuentran en ambos. Nota: pruebe utilizando list comprehension.
* Genere tres variables con la lista de notas y nombres que se incluyen en los archivos: nombres_1, eval1.txt y eval2.txt e imprima con formato los nombres de los estudiantes con las correspondientes nota y la suma de ambas como se ve en la imagen

### Resolución:

In [1]:
archivo_nombres_1= open("C:\\Users\\ivomi\\OneDrive\\Escritorio\\Seminario Python\\nombres_1.txt", 'r',  encoding= "utf8") 
archivo_nombres_2= open("C:\\Users\\ivomi\\OneDrive\\Escritorio\\Seminario Python\\nombres_2.txt", 'r', encoding= "utf8")
archivo_notas_1= open("C:\\Users\\ivomi\\OneDrive\\Escritorio\\Seminario Python\\eval1.txt", 'r', encoding= "utf8")
archivo_notas_2= open("C:\\Users\\ivomi\\OneDrive\\Escritorio\\Seminario Python\\eval2.txt", 'r', encoding= "utf8")

* Abro los archivos con los que voy a trabajar.

In [2]:
lista_nombres_1= []
lista_nombres_2= []
lista_comun= []
lista_eval_1= []
lista_eval_2= []

* Creo las listas en las que voy a almacenar los elementos de los archivos para poder trabajar mas cómodo.

In [3]:
for elem in archivo_nombres_1:
    lista_nombres_1.append(elem.strip().replace("'," , "").replace("'", ""))

for elem in archivo_nombres_2:
    lista_nombres_2.append(elem.strip().replace("'," , "").replace("'", ""))

* Voy agregando a las listas  *lista_nombres_1* y *lista_nombres_2* los nombres de los respectivos archivos quitándole los espacios en blanco, comas y comillas simples.

In [4]:
for elem in lista_nombres_1:
    if elem in lista_nombres_2:
        lista_comun.append(elem)

print("Nombres que se encuentran en ambas listas: " + str(lista_comun))
print(" ")

Nombres que se encuentran en ambas listas: ['Agustin', 'Bautista', 'CESAR', 'Diego', 'ELIANA', 'Facundo', 'Facundo', 'Ignacio', 'JUAN', 'Juan', 'Juan', 'Marcos', 'MATEO', 'Matias', 'Tomás', 'Ulises', 'Yanina']

* Utilizo un for que va a iterar sobre *lista_nombres_1* y preguntar si el elemento actual también se encuentra en *lista_nombres_2*, si esta condición es verdadera se almacenará el nombre en *lista_comun*. Luego imprimo *lista_comun*, la cual me mostrará los nombres que comparten ambas listas.

In [5]:
for elem in archivo_notas_1:
    lista_eval_1.append(elem.strip().replace(",", ""))
for elem in archivo_notas_2:
    lista_eval_2.append(elem.strip().replace(",", ""))

* Almaceno los elementos de los archivos que contenían las notas en listas pero quitándole los espacios en blanco y las comas.

In [6]:
print ( "{:>12}".format("Nombre")  +  "{:>12}".format("Eval1") +  "{:>10}".format("Eval2") +  "{:>10}".format("Total"))

      Nombre       Eval1     Eval2     Total

* Imprimo el encabezado de la lista que me mostrará los nombres de los alumnos con sus respectivas notas.

In [7]:
for i in range(0, len(lista_nombres_1)):
    print ("{:>5}".format(str(i)) + " " + "{:<15}".format(lista_nombres_1[i]) + "{:<10}".format(lista_eval_1[i]) + "{:<10}".format(lista_eval_2[i]) +  "{:<10}".format(str((int(lista_eval_1[i])+ int(lista_eval_2[i])))))

    0 Agustin        81        30        111
    1 Alan           60        95        155
    2 Andrés         72        28        100
    3 Ariadna        24        84        108
    4 Bautista       15        84        99
    5 CAROLINA       91        43        134
    6 CESAR          12        66        78
    7 David          70        51        121
    8 Diego          29        4         33
    9 Dolores        42        11        53
   10 DYLAN          16        58        74
   11 ELIANA         3         10        13
   12 Emanuel        35        13        48
   13 Fabián         67        34        101
   14 Facundo        10        96        106
   15 Facundo        57        71        128
   16 FEDERICO       11        86        97
   17 FEDERICO       69        37        106
   18 GONZALO        12        64        76
   19 Gregorio       77        13        90
   20 Ignacio        13        8         21
   21 Jonathan       86        87        173
   22 Jonathan       48        14        62
   23 Jorge          65        14        79
   24 JOSE           51        49        100
   25 JUAN           41        27        68
   26 Juan           87        55        142
   27 Juan           43        69        112
   28 Julian         10        77        87
   29 Julieta        87        59        146
   30 LAUTARO        91        57        148
   31 Leonel         15        40        55
   32 LUIS           44        96        140
   33 Luis           85        24        109
   34 Marcos         73        30        103
   35 María          37        73        110
   36 MATEO          42        95        137
   37 Matias         95        19        114
   38 Nicolás        18        47        65
   39 NICOLÁS        7         15        22
   40 Noelia         74        31        105
   41 Pablo          60        39        99
   42 Priscila       9         15        24
   43 TOMAS          65        74        139
   44 Tomás          93        33        126
   45 Ulises         63        57        120
   46 Yanina         74        10        84

* Por ultimo, imprimo los nombres de los alumnos, las notas de la primera evaluación, las notas de la segunda evaluación y la suma de las dos notas.